<div class="d-flex p-3 px-md-4 mb-3 border-bottom shadow-sm sticky-top"
     [ngClass]="scrollPos <= 54 ? 'bg-light' : 'bg-light'">
  <!--<a routerLink="/" class="navbar-brand mr-auto">-->
    <!--<span class="h5 my-0 mr-auto font-weight-normal">MyTonies.app</span>-->
  <!--</a>-->
  <nav class="w-100 m-0 d-flex flex-row justify-content-between align-items-baseline">
    <a routerLink="/" class="navbar-brand mr-auto">
      <span class="h5 my-0 ">MyTonies.app</span>
    </a>
    <div class="btn-group d-flex flex-row">
      <div *ngIf="!(authState$ | async )">
        <button
          class="btn btn-sm btn-primary mx-2"
          (click)="handleLogin()">Anmelden</button>
        <button
          class="btn btn-sm btn-secondary mx-2"
          (click)="handleRegister()"
        >Registrieren</button>
      </div>
      <div ngbDropdown class="d-flex" *ngIf="(authState$ | async) as authState">
        <span class="pointer" id="dropdownBasic1" ngbDropdownToggle>{{authState.email}}</span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" routerLink="/collection"><i class="fas fa-list-ul"></i> Übersicht</button>
          <button class="dropdown-item" routerLink="/settings"><i class="fas fa-cogs"></i> Eintellungen</button>
          <button class="dropdown-item" routerLink="/share"><i class="fas fa-share"></i> Link teilen</button>
          <div class="dropdown-divider"></div>
          <button class="text-danger dropdown-item" (click)="handleLogout()"><i class="fas fa-sign-out-alt"></i> Abmelden</button>
        </div>
      </div>
      <!--</ng-template>-->
    </div>
  </nav>
  <nav class="my-2 my-md-0 mr-md-3" id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="d-flex flex-column flex-md-row">
      <a class="mx-2 nav-link" (click)="toggleCollapse()" routerLink="/collection" >Übersicht</a>
      <a class="mx-2 nav-link" (click)="toggleCollapse()" routerLink="/settings" >Einstellungen</a>
      <a class="mx-2 nav-link" (click)="toggleCollapse()" routerLink="/publish" >Link teilen</a>
      <!--<button-->
      <!--*ngIf="!(authState$ | async); else logoutBtn"-->
      <!--class="btn btn-outline-primary mx-1"-->
      <!--(click)="openModal()">Anmelden</button>-->
      <button
        *ngIf="!(authState$ | async); else logoutBtn"
        class="btn btn-outline-light mx-2" (click)="handleLogin()">Anmelden mit Google</button>
      <ng-template #logoutBtn>
        <button class=" btn btn-small btn-outline-danger mx-2" (click)="handleLogout()">Abmelden</button>
      </ng-template>
    </div>
  </nav>

</div>
