<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Meine Tonies<sup style="font-size: 0.75em; line-height:2em;">&copy;</sup> Sammlung</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/" >Übersicht</a>
    <a class="p-2 text-dark" routerLink="/settings" >Einstellungen</a>
    <a class="p-2 text-dark" routerLink="/publish" >Link teilen</a>

  </nav>
  <a class="btn btn-outline-primary mx-1" href="#">Anmelden</a>
  <a class="btn btn-outline-primary mx-1" href="#">Registrieren</a>
</div>
