<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm sticky-top"
     [ngClass]="scrollPos <= 54 ? 'bg-light' : 'bg-light'"
>
  <div class="d-flex flex-row">
    <app-alert style="z-index: 2001; position: absolute; top: 15px; left: 0;width: 100%; margin: 0 auto"></app-alert>
    <a routerLink="/" class="navbar-brand">
      <span class="h5 my-0 mr-auto font-weight-normal">Meine Tonies<sup style="font-size: 0.75em; line-height:2em;">&reg;</sup> Sammlung</span>
    </a>
    <button type="button" class="btn btn-toolbar d-md-none" (click)="toggleCollapse()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <nav class="my-2 my-md-0 mr-md-3 ml-auto d-none d-sm-none d-md-block">
    <div class="d-flex flex-column flex-md-row">
      <div *ngIf="!(authState$ | async )">
        <button
          class="btn btn-primary mx-2"
          (click)="handleLogin()">Anmelden</button>
        <button
          class="btn btn-secondary mx-2"
          (click)="handleRegister()"
        >Registrieren</button>
      </div>
        <div ngbDropdown class="d-inline-block" *ngIf="(authState$ | async) as authState">
          <span class="pointer" id="dropdownBasic1" ngbDropdownToggle>{{authState.email}}</span>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" routerLink="/collection"><i class="fas fa-list-ul"></i> Übersicht</button>
            <button class="dropdown-item" routerLink="/settings"><i class="fas fa-cogs"></i> Eintellungen</button>
            <button class="dropdown-item" routerLink="/share"><i class="fas fa-share"></i> Link teilen</button>
            <div class="dropdown-divider"></div>
            <button class="text-danger dropdown-item" (click)="handleLogout()"><i class="fas fa-sign-out-alt"></i> Abmelden</button>
          </div>
        </div>

      <!--</ng-template>-->
    </div>
  </nav>
  <nav class="my-2 my-md-0 mr-md-3" id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="d-flex flex-column flex-md-row">
      <a class="mx-2 nav-link" (click)="toggleCollapse()" routerLink="/collection" >Übersicht</a>
      <a class="mx-2 nav-link" (click)="toggleCollapse()" routerLink="/settings" >Einstellungen</a>
      <a class="mx-2 nav-link" (click)="toggleCollapse()" routerLink="/publish" >Link teilen</a>
      <!--<button-->
      <!--*ngIf="!(authState$ | async); else logoutBtn"-->
      <!--class="btn btn-outline-primary mx-1"-->
      <!--(click)="openModal()">Anmelden</button>-->
      <button
        *ngIf="!(authState$ | async); else logoutBtn"
        class="btn btn-outline-light mx-2" (click)="handleLogin()">Anmelden mit Google</button>
      <ng-template #logoutBtn>
        <button class=" btn btn-small btn-outline-danger mx-2" (click)="handleLogout()">Abmelden</button>
      </ng-template>
    </div>
  </nav>

</div>
