<ngb-tabset>
  <ngb-tab title="Meine Tonies">
    <ng-template ngbTabContent>
      <!--<div class="mx-auto">-->
        <!--<form class="form-inline my-1 mx-auto">-->
          <!--<div class="form-group">-->
            <!--<input type="search" class="form-control form-control-sm">-->
          <!--</div>-->
          <!--<button class="btn btn-primary btn-sm">Tonies<sup style="font-size: 0.75em; line-height:2em;">&reg;</sup> durchsuchen</button>-->
        <!--</form>-->
      <!--</div>-->
       <!-- Tonie List-->
      <!--<ul class="list-group">-->
        <!--<app-tonie-item-->
          <!--*ngFor="let tonie of myTonies | async"-->
          <!--[tonie]="tonie"-->
        <!--&gt;</app-tonie-item>-->
      <!--</ul>-->
      <!-- Tonie Cards -->
      <div class="row mt-2">
        <app-tonie-card
          class="col-lg-2 col-md-3 col-sm-6 col-12"
          *ngFor="let tonie of myTonies | async"
          [tonie]="tonie">
        </app-tonie-card>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Alle</b> Tonies</ng-template>
    <ng-template ngbTabContent>
      <!--<div class="float-right mx-auto">-->
        <!--<form class="form-inline">-->
          <!--<div class="form-group">-->
            <!--<input type="search" class="form-control form-control-sm">-->
          <!--</div>-->
          <!--<button class="btn btn-primary btn-sm">Tonies<sup style="font-size: 0.75em; line-height:2em;">&reg;</sup> durchsuchen</button>-->
        <!--</form>-->
      <!--</div>-->
      <!--<div class="clearfix"></div>-->
      <!-- Tonie LIST-->
      <!--<ul class="list-group">-->
        <!--<app-tonie-item-->
          <!--*ngFor="let tonie of allTonies | async"-->
          <!--[tonie]="tonie"-->
        <!--&gt;</app-tonie-item>-->
      <!--</ul>-->
      <!-- Tonie Card-->
      <div class="card-group mt-2">
        <app-tonie-card
          class="col-lg-2 col-md-4 col-sm-6 col-12"

          *ngFor="let tonie of allTonies | async"
          [tonie]="tonie">
        </app-tonie-card>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>


