/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";
.dark-modal .modal-content {
  margin-top: -40px;
  background-color: $danger;
  color: white;
}
.dark-modal .close {
  color: white;
}

.success-modal .modal-content{
  margin-top: -35px;
  background-color: $success;
  color: white;
}
.success-modal .close {
  color: white;
}

