<div>
  <div class="modal-header">
    <span>Erfolgreich Angemeldet</span>
    <button (click)="onCloseClick()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--<div class="modal-body">-->
    <!--<p>One fine body&hellip;</p>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<button type="button"-->
            <!--(click)="onCloseClick()"-->
            <!--class="btn btn-warning">Close</button>-->
  <!--</div>-->
</div>
